// Fonts
$font: "Roboto", Arial, sans-serif;
$primary-fsz: 0.875rem; //14px
$fsz-1: 1rem;
$fsz-2: 1.2rem;
$fsz-3: 2rem;
$fsz-4: 2.5rem;

// Breakpoints
$wide: 1200px;
$large: 1024px;
$normal: 960px;
$medium: 768px;
$small: 460px;
$tiny: 375px;

// Position
$pos-rel: relative;
$pos-a: absolute;

// Colors
$root: #222222;
$block: rgba(48,48,48,1);
$item: rgba(68,68,68,1);
$map: rgba(0,155,118,0.8);
$active: rgba(0,188,140,0.8);
$white: #ffffff;
